.container {
    background-color: var(--white);
    padding: 2rem;
  }
  
  .title {
    color: var(--navy-blue);
  }
  
  .text {
    color: var(--black);
  }
  
  .form {
    background-color: var(--light-gray);
    padding: 1rem;
  }