/* Navbar.module.css */
.navbar {
    background-color: navy;
    color: white;
    padding: 1rem;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
  }
  
  .navLink:hover {
    color: black;
  }